{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'admin/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
<script src="{% static 'admin/js/calendar.js' %}"></script>
</head>
<body>
    <aside>

      <p>
<font size="5"  face="Arial">Авто из Европы под ключ. От Рено до Мерседес!</font>

</p>
        <a href="about/"><font size="5">Отзывы</font></a><br>
         <a href="contact/"><font size="5">Контакты</font></a><br>
        <a href="using/"><font size="5">Услуги</font></a><br>
        <a href="register/">Register</a> | <a href="login/">Login</a>
        <input type="button" onclick="window.location.href = 'https://www.audi.by/by/web/ru.html';" value="Ауди"/>

    </aside>

  <bside>

      <img src="{% static 'admin/img/1644909366_1-fikiwiki-com-p-kartinki-mashini-audi-1.jpg' %}" height=100% width=80%  alt="audi" style="float: right; margin: auto">

  </bside>

{% block content %}
{% endblock %}
</body>
</html>